<ion-view view-title="Instruções">
  <ion-content>
    <h2>O que é o 30 days challenge?</h2>
      <p>Existe algo que você sempre pensou em fazer, quis fazer, mas simplesmente... não fez? O 30 days challenge foi sugerido por Matt Cutts: tente fazê-lo por 30 dias. Esta palestra curta e divertida oferece uma boa forma de pensar sobre como traçar e atingir objetivos. Para assistir va em <a href="#/tab/conheca">Conheça</a>.
    </p>
    <h2>Como o app funciona?</h2>
    <p>Você deve ter em mente qual desafio gostaria de cumprir durante 30 dias. Depois é só acessar o app diariamente e marcar que cumpriu a meta diária e ver seu calendário de acompanhamento.</p>
  </ion-content>
</ion-view>
